@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

//@import "abstracts/functions";
@import "abstracts/mixin";
@import "abstracts/variables";

//@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

//@import "components/bg-video";
@import "components/button";
@import "components/card";
//@import "components/composition";
//@import "components/feature-box";
//@import "components/form";
//@import "components/popup";
//@import "components/story";

//@import "layout/footer";
@import "layout/header";
@import "layout/testpageGrid";
@import "layout/grid";
//@import "layout/header";
//@import "layout/navigation";

@import "pages/home";













* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
body {
  font-family: "Montserrat";
  margin: 30px;
  background-image: url("../Bench.jpg");


  height: 500px;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-color:rgba(255,255,255,0.1);
  opacity: 0.8;
  //position: absolute;
  z-index: -1;
}*/

a {
  text-decoration: none;
  color: orange;
}

h2 {
  color: #000;
  margin: 2rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/***************************           Cards            *******************************/

.title {
  margin: auto;
  width: max-content;
  padding: 10px;
  font-size: 2rem;
  display: flex;
  font-weight: 900;
  background: #539fd3;
}

.title1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 0 12px;
  background: lightseagreen;
}

.title2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 0 12px;
  background: linen;
  border: solid;
}

.timer {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 100px 0 0;
  background: linen;
  border: solid;
}

.qtable {

  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 0 0 195px;
  background: linen;
  border: double;
}


.start {
  font-size: x-large;
  font-weight: 700;
  margin: 0 0 0 265px;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
//@media only screen and (max-device-width: 1366px) {
// .parallax {
//   /* The image used */
//   //background-image: url("../Bench.jpg");

//   /* Set a specific height */
//   //height: 500px;

//   /* Create the parallax scrolling effect */
//   // background-attachment: fixed;
//   //background-position: center;
//   //background-repeat: no-repeat;
//   //background-size: cover;
//   //opacity: 0.2;
//   z-index: 1;
// }
//}

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/*
.hover {
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: transform;
  margin: auto;
  width: max-content;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  font-weight: 900;
  color: black;
  background: content-box;
  background-color: whitesmoke;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:hover {
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}*/
/*
.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); 
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 5rem;
  z-index: 5;
}

.card {

  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
}*/

.thumbnail img {
  fill: #c7c4c4;
  height: 135px;
  //opacity: 0.25;
  padding: 1.5rem;
}
/*
.card-content {
  font-size: 0.75rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.panel.card-panel .panel-header {
  background-color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  height: 25px !important;
}

.panel.card-panel .panel-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}*/

.category {
  font-size: 0.75rem;
  text-transform: uppercase;
}

footer {
  border-top: 2px solid #e7e7e7;
  margin: 0.5rem 0 0;
  min-height: 30px;
  font-size: 0.5rem;
}
/*
.category {
  position: absolute;
  top: 105px;
  left: 75px;
  color: #fff;
  background: #e74c3c;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.category__01 {
  background-color: #50c6db;
}

.category__02 {
  background-color: #51bb7b;
}

.category__03 {
  background-color: firebrick;
}

.category__04 {
  background-color: palegoldenrod;
}

.category__05 {
  background-color: olive;
}*/

.post-meta {
  margin-top: 1rem;
}

.comments {
  margin-left: 0.5rem;
}

.center {
  margin: auto;
  width: 50%;
  //border: 3px solid green;
  padding: 10px;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.heidi {
  display: none;
}

button {
  font-family: "Montserrat";
  border: solid;
}
