/*.row {
    //grid-column: full-start / col-end 6;
    //background-color: $color-grey-light-1;
    background-image: linear-gradient(rgba($color-secondary-dark, .7), rgba($color-secondary-light, .7)), url(../images/Bench.jpg);
    background-size:cover;
    //position: relative;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    //grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    grid-row-gap: 3.5rem;
    grid-column-gap: 3.5rem;
    
    @include respond(tab-port) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone) {
        grid-template-columns: repeat(1, 1fr);
    }

   
}*/
.row {
  //grid-column: full-start / col-end 6;
  //background-color: $color-grey-light-1;
  padding:0px;
  margin:0px;
  grid-column: center-start / center-end;
    //margin: 15rem 0;
  background-image: linear-gradient(
      rgba($color-secondary-dark, 0.7),
      rgba($color-secondary-light, 0.7)
    ),
    url(../images/Bench.jpg);
  background-size: cover;
  //position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //grid-template-columns: auto auto auto auto;//repeat(4, 1fr);
 
  grid-gap: 7rem;
  align-items: center;
  //grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: auto;
  /*grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";*/
    //grid-template-rows: minmax(100px, auto);

  grid-row-gap: 1.5rem;
  grid-row-gap: 3.5rem;
  grid-column-gap: 3.5rem;
  @include respond(tab-port) {
    //grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    //grid-template-columns: repeat(1, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
  }

}

.headermain{
    //grid-area: header;
    grid-column-start: 1;
    grid-column-end: 5;
}

.contentmain{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    //grid-area: main;
   
    


}
